version: '3'
services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: unless-stopped
    ports:
      - "11434:11434"
    environment:
      - CUDA_VISIBLE_DEVICES=0
      - OLLAMA_FLASH_ATTENTION=1
      - OLLAMA_HOST=0.0.0.0
      - OLLAMA_ORIGINS="*"
    volumes:
      - ollama:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  open-webui:
    image: ghcr.io/open-webui/open-webui:ollama
    container_name: open-webui
    environment:
      - ENABLE_IMAGE_GENERATION=1
      - AUTOMATIC1111_BASE_URL=stable-diffusion:7860
    volumes:
      - ollama:/root/.ollama
      - open-webui:/app/backend/data
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "3000:8080"
    restart: always
    privileged: true

  stable-diffusion:
    image: hfarkhari/automatic_1111:v1.6_gradio_3.43.2_user_p7860_sadtalker
    container_name: stable-diffusion-webui
    restart: unless-stopped
    ports:
      - "7860:7860"
    volumes:
      - ./stdiff:/workspace
    command: python webui.py --listen --port 7860 --xformers --api
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

volumes:
  ollama:
  open-webui:
